:root {
    --main-color-: #1f2235;
    --background-color-: #23263a;
    --text-color-: #ffffff;
    --secondary-color-: #f64754;

    --link-color-:rgb(127, 127, 198);
    
    /* --width: 80%; */
    /* --width: 1390px; */
    --width: 1000px;
}

html{
    font-size: 18px;
}

body{
    background-color: var(--main-color-);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-);
    max-width: var(--width);
    margin: auto;
}