.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input input{
    background: none;
    border: 2px solid var(--secondary-color-);
    border-radius: 4px;
    padding: 10px 15px;
    color: var(--text-color-);
    font-size: 15px;
}