.article{
    font-size: 25px;
    line-height: 1.5;
    padding: 10px;
}

.wrapper{
    padding: 10px;
}

.article img{
    max-width: 100%;
    object-fit: contain;
}

.article pre{
    white-space: pre-wrap;
}

.article a{
    color: rgb(121, 121, 209)
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
